.top-nav {
    display: flex;
    align-items: center;
    margin: 2rem;
    
}

.category-nav {
    display: flex;
    align-items: center;
    margin: 5rem;
    
}
.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
    list-style: none;
    margin: auto;
}

.nav-list-link {
    text-decoration: none;
    color: var(--clr-red-secondary);
    font-size: var(--fs-md);
    font-family: var(--ff-secondary);
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    background-color: var(--clr-yellow);
}

.home-nav-list {
    text-decoration: none;
    color: var(--clr-white);
    font-size: clamp(var(--fs-md), 2rem, var(--fs-xl));
    font-weight: var(--fw-md);
    font-family: var(--ff-main);
    padding: .8rem;
}

.home-list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin:0 1rem;
    padding: 0;
}

.nav-list-link:hover {
    background-color: #1e70b9;
  }