.recipe-title {
    margin: 1rem 0 0;
    font-size: var(--fs-md);
    font-family: var(--ff-main);
    color: var(--clr-gray-text);
}

.recipe-text {
    font-size: var(--fs-nm);
    color: var(--clr-gray-text);
    text-align: justify;
}
.top10-title {
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-usm), 1.875rem, var(--fs-lg));
    margin: 2rem auto;
    width: 25ch;
}

.recipe-price {
    display: block;
    position: absolute;
    background: var(--clr-white);
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: .5rem 2rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer-legal{
    text-align: center;
    font-size: var(--fs-md);
}

.description-recipe{
    display: grid;
    background: var(--clr-white-bg);
    text-align: center;
    padding: 2rem 1rem;
}


.home-tittle{
    font-size: var(--fs-xl);
    text-align: center;
    color: var(--clr-white);
    width: 15ch;
    margin: auto;
    margin-top: 8rem;
}

.comidas-tittle{
    margin-top: 7rem;
}